<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../public/assets/img/favicon.png" type="image/x-icon" /> 
    <title>Catálogo Marcos Davalos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/assets/styles/home.css" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="icon" href="estilos\favicon\favicon1.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <leadclick-widget
      integrations="1"
      fburl="https://www.m.me/"
      igurl="https://www.instagram.com/virtuastate/"
      waurl="https://wa.me/5491130257638"
      cta="Contáctanos"
      fontcolor="8a2be2"
      bgcolor="#ff1493"
      instructions="Dejanos tu consulta"
      orientation="right"
      visible_integrations="WhatsApp"
      ispremium="true"
    >
    </leadclick-widget>
    <header class="header-CieloOk">
      <!--         <div class="menu-btn">
          <img class="fas fa-bars" src="https://icongr.am/fontawesome/bars.svg?size=30&color=8d8d8d" alt="||"></a>
      </div> -->
      <div class="video-intro">
        <div class="position-relative">
          <video
            class="videoBg"
            autoplay
            loop
            muted
            src="../public/assets/video/bg_new.mp4"
          ></video>
          <div class="textoVideo position-absolute text-center">
            <div class="menu-btn">
              <img
                class="fas fa-bars"
                src="https://icongr.am/fontawesome/bars.svg?size=30&color=8d8d8d"
                alt="||"
              />
            </div>
            <div class="cielo">
              <ul class="cieloLista show">
                <li>
                  <a
                    class="cielo-servicios"
                    href="../../src/index.html"
                    target="_blank"
                    >Soluciones</a
                  >
                </li>
                <li>
                  <a
                    class="cielo-servicios"
                    href="proyectos.html"
                    target="_blank"
                    >Proyectos</a
                  >
                </li>
                <li>
                  <a
                    class="cielo-servicios"
                    href="nosotros.html"
                    target="_blank"
                    >Nosotros</a
                  >
                </li>
                <li>
                  <a class="cielo-servicios" href="#" target="_blank"
                    >Catálogo</a
                  >
                </li>
              </ul>
              <p class="text-white daPasos">DESLIZA HACIA ABAJO </p>
              <p class="text_metaverso good">Y ENCARGA TU METAVERSO</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="articles articlesVentas">
        <h1 class="titleParticularCommerce">CATÁLOGO </h1>
        <div class="checkoutWay">
            <h2 class="subtitleResp">Imagina tu recorrido y elige...</h2>
        </div><!-- EMPIEZA CARDS -->
        <article class="carritoTodo">
            <section class="buyModifiers">
                <div class="todosParametros">
                    <form id="buscador">
                        <div class="row">
                            <div class="marcaTodo">
                                <label origenEscrito="origen">Calidad</label>
                                <select class="selectContainerOk" id="selectContainer">
                                    <option class="Seleccion" id="elija" value="">HD/4K</option>
                                    <option class="usa" value="HD">HD</option> 
                                    <option class="uk" value="4K">4K</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="shoppingTodo">
                        <a id="shoppingLogo" class="shoppingCart" href="checkout.html" target="_blank"><img src="https://icongr.am/fontawesome/shopping-cart.svg?size=60&color=4ca725" alt="shopping cart"></a>
                        <p class="contadorUnidades" id="contadorId">00</p>
                    </div>
                </div>
            </section>
            <section id="renderProds"></section>
        </article>
    </main>

    <footer data-aos="fade-up" class="footer">
        <div>
          <p class="text1_footer">
            #Innovation<span class="matters">Matters</span>
          </p>
        </div>

        <div
          class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4 mb-4"
        >
          <div class="d-none d-md-flex">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  width="456"
                  height="202"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=Santiago%20del%20Estero%201640,%20B1640HLJ%20Mart%C3%ADnez,%20Provincia%20de%20Buenos%20Aires&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe
                ><a href="https://123movies-to.org"></a><br /><style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    height: 202px;
                    width: 456px;
                  }</style
                ><a href="https://www.embedgooglemap.net">google map coding</a
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 202px;
                    width: 456px;
                  }
                </style>
              </div>
            </div>
          </div>

          <div class="d-flex d-md-none">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  width="300"
                  height="202"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=Santiago%20del%20Estero%201640,%20B1640HLJ%20Mart%C3%ADnez,%20Provincia%20de%20Buenos%20Aires&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe>
                <a href="https://123movies-to.org"></a>
                <br />
                <style>
                  .mapouter {
                    position: relative;
                    text-align: center;
                    height: 202px;
                    width: 456px;
                  }</style
                ><a href="https://www.embedgooglemap.net">google map coding</a
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 202px;
                    width: 456px;
                  }
                </style>
              </div>
            </div>
          </div>

          <div class="container1_text_footer text-center mx-3 mt-4 mt-md-0">
            <div class="d-flex justify-content-center contenedor_redes">
              <a
                class="cursor_pointer"
                href="https://www.linkedin.com/company/virtuastate/"
                ><i class="bi bi-linkedin logoFooter mx-3 cursor_pointer"></i
              ></a>
              <a
                class="cursor_pointer"
                href="https://www.instagram.com/virtuastate/?hl=es"
                target="_blank"
                ><i class="bi bi-instagram logoFooter mx-3 cursor_pointer"></i
              ></a>
            </div>
            <p class="m-0 color-negro title_container1_text_footer">
              VIRTUASPACE
            </p>
            <p class="m-0 color-negro">Tel: +5491130257638</p>
            <p class="m-0 color-negro">Santiago del estero</p>
            <p class="m-0 color-negro">Martinez, San Isidro, BA.</p>
          </div>
        </div>

        <div class="mapa"></div>
        <div class="derechos">
          <p class="m-0" id="preguntame">Preguntame si jodemos</p>
          <p class="m-0" id="preguntame">Copyright, 2024. VIRTUASTATE.NET</p>
        </div>
      </footer>
      <script
      async
      src="https://api.cappasity.com/api/player/cappasity-ai"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
      integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
      crossorigin="anonymous"
    ></script>
    <script>
      AOS.init();
    </script>
        <script src="../public/assets/js/responsive.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@leadsales/
leadclick@1.11.1/dist/leadclick/leadclick.esm.js"
    ></script>
    <script src="public/assets/js/particles.min.js"></script>
    <script>
      particlesJS({
        particles: {
          number: {
            value: 80,
            density: {
              enable: true,
              value_area: 800,
            },
          },
          color: {
            value: "#000000",
          },
          shape: {
            type: "circle",
            stroke: {
              width: 0,
              color: "#000000",
            },
            polygon: {
              nb_sides: 5,
            },
            image: {
              src: "img/github.svg",
              width: 100,
              height: 100,
            },
          },
          opacity: {
            value: 0.5,
            random: false,
            anim: {
              enable: false,
              speed: 1,
              opacity_min: 0.1,
              sync: false,
            },
          },
          size: {
            value: 3,
            random: true,
            anim: {
              enable: false,
              speed: 40,
              size_min: 0.1,
              sync: false,
            },
          },
          line_linked: {
            enable: true,
            distance: 150,
            color: "#000000",
            opacity: 0.4,
            width: 1,
          },
          move: {
            enable: true,
            speed: 6,
            direction: "none",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: false,
            attract: {
              enable: false,
              rotateX: 600,
              rotateY: 1200,
            },
          },
        },
        interactivity: {
          detect_on: "canvas",
          events: {
            onhover: {
              enable: true,
              mode: "repulse",
            },
            onclick: {
              enable: true,
              mode: "push",
            },
            resize: true,
          },
          modes: {
            grab: {
              distance: 400,
              line_linked: {
                opacity: 1,
              },
            },
            bubble: {
              distance: 400,
              size: 40,
              duration: 2,
              opacity: 8,
              speed: 3,
            },
            repulse: {
              distance: 200,
              duration: 0.4,
            },
            push: {
              particles_nb: 4,
            },
            remove: {
              particles_nb: 2,
            },
          },
        },
        retina_detect: true,
      });
    </script>
    <script src="../public/assets/js/ventas.js"></script>
  </body>
</html>
